/.DS_Store
/.ipynb_checkpoints
/AML2203
/AdienceBenchmarkGenderAndAgeClassification
/Attendance
/Fibo_recur.py
/FinalDiabetesCorrelation.ipynb
/Group1_BDM1034_sales_forecast
/Main.py
/Read_CSV_rowss.ipynb
/Salaries.csv
/Untitled-1.ipynb
/abba.png
/camera_face_detection.py
/chumma.py
/chumma1.py
/class
/class_activity.ipynb
/compose-dev.yaml
/csvfile.csv
/diabetes.csv
/diabetes_project.ipynb
/diabetes_visualization.ipynb
/fibo_plot
/gpt.py
/haarcascade_frontalface_default.xml
/logesticd.py
/nltk_data
/pickles
/project.py
/projectttt.ipynb
/readingCSVv.ipynb
/rwfiles.py
/sales-forecasting.ipynb
/sampleSalary.csv
/sentiapp.py
/synthetic_data_creation.ipynb
/test.txt
/train.csv
/xmlfile.xml1